<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <title>StatisticSR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="src/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuex@3.1.3/dist/vuex.js"></script>
    <script type="module" src="src/app.js"></script>
</head>

<body>
    <div id="app">
        <header id="header">
            <div id="headerTop">
                <div id="logo">
                    <img src="src/assets/StatisticSR.png" alt="logo">
                </div>
                <div id="headerTopSearch">
                    <input type="text" class="searchbar" id="searchbarTop">
                    <button class="button" id="btnSearchTop"><span class="fa fa-search"></span></button>
                </div>
            </div>

            <div id="headerBottom">
                <nav id="navbar">
                    <button class="navbutton" id="btnMenu"><span class="fa fa-bars"></span></button>
                    <button class="navbutton" id="btnChannels">Kanaler</button>
                    <button class="navbutton" id="btnPrograms">Program &amp; tablåer</button>
                    <button class="navbutton" id="btnPods">Poddar</button>

                    <div id="headerBottomSearch">
                        <input type="text" class="searchbar" id="searchbarBottom">
                        <button class="navbutton" id="btnSearchBottom"><span class="fa fa-search"></span></button>
                    </div>
                </nav>
            </div>
        </header>

        <div id="wrapperMain">
            <main id="main">
                <article id="a1">
                    <h1>Artikel 1</h1>
                    <toplist></toplist>
                    <!-- <canvas id="can"></canvas>-->
                    <piechart :colors="colors"></piechart>

                    <p>


                    </p>
                    <p>

                    </p>
                </article>

                <article id="a2">


                    <Played></Played>

                </article>


                <article id="a3">
                    <h1>Låtar</h1>

                    <div>

                        <guessr></guessr>
                    </div>
                </article>

                <article id="a4">

                </article>
                <div id="channelList">

                    <div class="channel">
                        <div class="imgContainer"><img
                                src="https://static-cdn.sr.se/sida/images/132/2186745_512_512.jpg?preset=api-default-square"
                                alt="P1">
                        </div>
                        <div class="currentProgram">Program 1</div>
                    </div>

                    <div class="channel">
                        <div class="imgContainer"><img
                                src="https://static-cdn.sr.se/sida/images/163/2186754_512_512.jpg?preset=api-default-square"
                                alt="P2">
                        </div>
                        <div class="currentProgram">Program 2</div>
                    </div>

                    <div class="channel">
                        <div class="imgContainer"><img
                                src="https://static-cdn.sr.se/sida/images/164/2186756_512_512.jpg?preset=api-default-square"
                                alt="P3">
                        </div>
                        <div class="currentProgram">Program 3</div>
                    </div>

                </div>

            </main>
        </div>
        <footer id="footer"></footer>
    </div>


    <script>

        const Played = {
            data() {
                return {
                    svar: '',
                    result: ""
                }
            },
            methods: {
                jamfor() {
                    /*  fraga= 'aaa'            
                      if (fraga===svar ) {
                          this.result = "Ja!"
                      }
                      else {
                          this.result = "Tyvärr, nej"                        
                      }*/
                    console.log("test")
                    this.result = "aaa"
                }
            },

            template: `<div>
                 <h1>Spelade låter</h1>
                 Checka är din favorit låt spelat sista dygnet.<br>
                 <input type="text" v-model="svar" placeholder="skriva här">
                 <input type="button" value="Checka"  @click="jamfor"><br>
               
                 <p>{{ result }}</p>   
                            
               </div>`
        }

        Vue.component('Played', Played)

    </script>

</body>

</html>